<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head"></head>
<body>
<nav th:fragment="header" class="navbar admission-navbar navbar-expand">
    <div class="container">
        <a class="navbar-brand admission-brand" th:href="@{/}">
            <i class="bi bi-mortarboard-fill me-2"></i>
            <span>Tuyển sinh</span>
        </a>
        <ul class="navbar-nav ms-auto flex-row gap-1">
            <li class="nav-item">
                <a class="nav-link admission-nav-link" th:href="@{/tra-cuu-diem}">
                    <i class="bi bi-search-heart me-1"></i>Tra cứu điểm
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link admission-nav-link" th:href="@{/dang-ky-nguyen-vong}">
                    <i class="bi bi-ui-checks-grid me-1"></i>Đăng ký nguyện vọng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link admission-nav-link" th:href="@{/diem-chuan}">
                    <i class="bi bi-bar-chart-steps me-1"></i>Điểm chuẩn
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
